@{
    ViewData["Title"] = "Success";
}
<div class="text-center">
    <h1>You successfully sent the message</h1>
    or you'll receive the message to your mail that server failed to sent this message
</div>